
.hero{
  
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* пример */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  
  display: flex;
  height: 100vh;

  position: relative;
  @media (max-width: 768px) {
    font-size: 20px;
  background: transparent;
  }
}

.image-section {
  width: 66.66%;
  background-image: url("/public/homedog.jpg");
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    font-size: 20px;
    width: 100%;
    position: relative;
  
  }
  
}

.info-section {
  width: 33.33%;
  background-color: var(--primary);
  padding: 40px;
line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 768px) {
    margin-top: 10%;
    position: absolute;
    z-index: 1000;
    background: transparent;
  
   
   line-height: 1.5;
   
  
  }
}
.info-section p {
 @media (max-width: 768px){
display: none !important ;
 } 
}


button{
  
  @media (max-width: 768px) {
background-color: var(--primary);
color: white;
border: 1px white;
margin:   10% 10% ;
max-width: 100%;

  }
}
.namofsite{
  @media (max-width: 768px){
    min-height: 10%;
    font-size: 50px;
  }
  
}
 p {
  color: var(--black);
  display: flex;
  justify-content: start;
  margin: 20px;
}

button {
  height: 44px;
  width: 300px;
}
.howitworks-section{
  color: var(--black);
  margin: 30px;
  padding: 30px;
}


 .ulwatisworks li {
  margin-bottom:  30px;
  

}
.ulwatisworks  {
  text-align: left;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 20px;
}


