.pet-details {
    display: flex;

    justify-content: space-around;
    gap: 20px;
    width: 100%;
    margin: 20px;
    

}
.img-details img {
    width: 300px;
}
.description span{
    font-weight: 700;
    
}