* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.signup{
    margin-top: 10%;

}
.containerform{
      display: flex;
  justify-content: center; 
  height: 100vh;

}
.form{
      display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
 

}
.form label {
  text-align: left;
}
.form input,
.form button {
    width: 100%;
    box-sizing: border-box;
}

.form input
 {
  padding: 10px;
}
.form button{
    padding: 20px;
    margin-top: 20px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-size: large;
    display: flex;
    justify-content: center; 
    align-items: center;
}

@media (max-width: 768px) {
  .containerform {
    width: 100%;
    padding: 0 20px;
  }

  .form {
    width: 100%;
    max-width: 300px;
  }

  .form button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    appearance: none;
    -webkit-appearance: none;
  }
}