.signup{
    margin-top: 10%;

}
.containerform{
      display: flex;
  justify-content: center; 
  height: 100vh;

}
.form{
      display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  justify-content: left;

}
.form label {
  text-align: left;
}

.form input
 {
  padding: 10px;
}
.form button{
    padding: 20px;
    margin-top: 20px;
    background-color: var(--primary);
    color: var(--white);
    border: 0cap;
    font-size: large;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;
}