:root {
  --primary: #5C7395;;
  --secondary: #D9E3F4;
  --black: #0A0A0A;
  --white: #FDFCFC;
}

#root {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.formen{

    height: 50px;
}

html, body, #root {
  height: 100%;
  margin: 0;
   min-height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  margin-top: auto;

}

 
